body {
  background: url('img/atx_paint.jpg') no-repeat;
  /* Keep the inherited background full size. */
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.container {
  width: 90%;
  height: 85%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin: auto;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

h1{
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  width: 100px;
  font-size: 3.5rem;
  font-family: Copperplate,Copperplate Gothic Light,fantasy;
}

img{
  z-index: 20;
  width: 100px;
  height: 100px;
  display: inline-block;
  width: 45%;
  position: relative;
  left: 5px;
}

.card-info{
  display: inline-block;
  width: 45%;
  height: 85%;
}

h2{
  text-align: center;
  position: relative;
}

li{
  text-align: center;
  display: inline-block;
  width: 30%;
}
